*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5.h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  font-size: 16px;
  background: #FFFFFF;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 0px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@font-face {
  font-family: BeVietnam;
  font-display: swap;
  src: url("../fonts/BeVietnam-Light.woff2") format("woff2"), url("../fonts/BeVietnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: BeVietnam;
  font-display: swap;
  src: url("../fonts/BeVietnam-Bold.woff2") format("woff2"), url("../fonts/BeVietnam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: BeVietnam;
  font-display: swap;
  src: url("../fonts/BeVietnam-Regular.woff2") format("woff2"), url("../fonts/BeVietnam-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  cursor: default;
}

.n__con {
  min-width: 270px;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.header__menu {
  z-index: 2;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 60px;
  padding: 0;
}

.menu__link {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.menu__link:hover {
  color: #FF543D;
}

.menu_arrow {
  display: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #fff;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu_arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu_arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon-menu {
  display: none;
}

.logo {
  width: 119px;
  height: 54px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 54px;
}

.logo > a {
  color: #000000;
}

.search__container,
.busket__container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
}

.busket__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.busket__counter {
  margin-left: 5px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__container > svg:hover,
.busket__container > svg:hover {
  cursor: pointer;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__search {
  border: 1px solid #FF543D;
  position: absolute;
  top: 65px;
  right: 0;
}

.header {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

.no-webp .header::after {
  background: url("../img/Subtract.png"); }

.header::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  -webkit-transform: scaleX(1.09);
      -ms-transform: scaleX(1.09);
          transform: scaleX(1.09);
  width: 960px;
  height: 942px;
  position: absolute;
  top: -137px;
  right: -242px;
  z-index: 1;
}

.header__container {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__qualitywine {
  position: relative;
  z-index: 2000;
  width: 630px;
}

.header__qualitywine > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 86px;
  /* or 130% */
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 15px;
}

.header__qualitywine > h3 > span {
  font-weight: 800;
}

.header__qualitywine > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 30px;
}

.header__button {
  width: 138px;
  height: 54px;
}

.button__layout {
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  background: #FF543D;
  border-radius: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* identical to box height */
  text-transform: uppercase;
}

.button__layout > a {
  color: #FFFFFF;
}

.header__image {
  width: 531px;
  margin-right: 115px;
}

.header__image > img {
  width: 100%;
}

.about {
  margin-top: 180px;
  position: relative;
  z-index: 1;
}

.no-webp .about::after {
  background: url("../img/Subtract (1).png"); }

.about::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  -webkit-transform: scaleX(1.09);
      -ms-transform: scaleX(1.09);
          transform: scaleX(1.09);
  width: 750px;
  height: 1110px;
  position: absolute;
  bottom: -137px;
  left: -242px;
  z-index: 1;
}

.about__container {
  position: relative;
  z-index: 1000;
}

.about__container > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}

.about__container > h3 > span {
  font-weight: 700;
}

.about__container > p {
  display: block;
  margin: 0 auto;
  width: 610px;
  text-align: center;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
  color: #000000;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  text-align: center;
  width: 304px;
}

.about__img {
  width: 54px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.about__item:last-child > .about__img {
  width: 70px;
}

.about__img > img {
  width: 100%;
}

.about__item > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  margin-bottom: 20px;
  color: #000000;
}

.about__item > h5 > span {
  font-weight: 700;
}

.about__item > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.about__body {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.about__body_img {
  width: 545px;
  height: 850px;
}

.about__body_img > img {
  width: 100%;
}

.about__content > h5 {
  width: 645px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 67px;
  /* or 129% */
  margin-bottom: 15px;
  color: #000000;
}

.about__content > h5 > span {
  font-weight: 700;
}

.about__content > p {
  width: 645px;
  margin-bottom: 10px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #000000;
}

.about__button {
  width: 180px;
  height: 54px;
  margin-top: 20px;
}

.bestwines {
  margin-top: 150px;
  margin-bottom: 150px;
}

.bestwines__container > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.bestwines__container > h5 > span {
  font-weight: 700;
}

.bestwines__container > p {
  display: block;
  margin: 0 auto;
  max-width: 672px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
  color: #000000;
}

.bestwines__body {
  position: relative;
}

.bestwines__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.bestwines__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 277px;
          flex: 1 1 277px;
}

.bestwines__img {
  width: 100px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.bestwines__img > img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.no-webp .bestwines__img::after {
  background: url("../img/Vector (1).png"); }

.bestwines__img::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: -60px;
  left: -100px;
  z-index: 0;
}

.bestwines__item:nth-child(1) .bestwines__img::after {
  content: "";
  left: -121px;
}

.bestwines__name {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  margin-top: 50px;
  color: #000000;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.buy__price {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  letter-spacing: 0.04em;
  /* #FF543D */
  color: #FF543D;
}

.buy__btn {
  width: 100px;
  height: 40px;
  color: white;
  line-height: 40px;
}

.buy__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF543D;
  width: 100px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 27px;
}

.buy__counter > div {
  background: white;
  width: 38px;
  height: 70%;
  border-radius: 27px;
  color: #FF543D;
  font-size: 24px;
  font-weight: 700;
}

.buy__counter > span {
  color: white;
  width: 15px;
}

.bestwines__item > p > span {
  font-weight: 700;
}

.bestwines__btn_left {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 0;
  /* #FF543D */
  background: #FF543D;
}

.bestwines__btn_right > span::before,
.bestwines__btn_left > span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: white;
  top: 28px;
  left: 19px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bestwines__btn_left > span::after,
.bestwines__btn_right > span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: white;
  top: 22px;
  left: 19px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bestwines__btn_right {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  right: 0;
  /* #FF543D */
  background: #FF543D;
}

.bestwines__btn_right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.d-none {
  display: none;
}

.events {
  margin-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.events > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  margin-bottom: 5px;
  text-align: center;
  color: #000000;
}

.events > h5 > span {
  font-weight: 700;
}

.events > p {
  display: block;
  margin: 0 auto;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 672px;
  color: #000000;
  margin-bottom: 60px;
}

.events__container {
  overflow: scroll;
}

.events__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 700px;
  gap: 30px;
}

.events__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events__img {
  width: 270px;
}

.events__img > img {
  width: 100%;
}

.events__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  height: 225px;
}

.events__body > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  margin-bottom: 10px;
  color: #000000;
}

.events__body > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  color: #000000;
}

.events__body > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration-line: underline;
  /* #FF543D */
  color: #FF543D;
}

.slide-swiper__item {
  width: 100%;
}

.slide-swiper__img {
  text-align: center;
}

.slide-swiper__img > img {
  border-radius: 70px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.events__description {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 375px;
}

.events__description > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  margin-bottom: 10px;
  color: white;
}

.events__description > h5 > span {
  font-weight: 700;
}

.events__description > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: white;
  margin-bottom: 20px;
}

.read-more {
  width: 138px;
  height: 54px;
}

.events__description > a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height */
  /* #FF543D */
  color: white;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.no-webp .footer {
  background: url("../img/Group 1000005086.png"); }

.footer {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.footer__container {
  margin: 0 auto;
  max-width: 1350px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item_one {
  max-width: 316px;
}

.footer__item_one > h5 {
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer__item_one > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer__item_two {
  max-width: 142px;
}

.footer__item_two > ul > li {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer__item_two > h5 {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer__item_two > h5::after,
.footer__item_three > h5::after,
.footer__item_four > h5::after {
  content: "";
  width: 45px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -13px;
  left: 0px;
}

.footer__item_two > ul > li {
  margin-bottom: 10px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer__item_three {
  max-width: 246px;
}

.footer__item_three > h5 {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.footer__item_three > ul > li {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.footer__item_three > ul > li > svg {
  margin-right: 10px;
}

.footer__item_four {
  max-width: 342px;
}

.footer__item_four > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  letter-spacing: 0.02em;
  position: relative;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.footer__item_four > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  color: #FFFFFF;
}

.footer__messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 183px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__messengers_svg:first-child {
  left: -10px;
}

.footer__messengers_svg {
  position: relative;
}

.footer__messengers_svg:first-child > svg {
  left: 13px;
}

.footer__messengers_svg > svg {
  position: relative;
  left: 11px;
  top: 9px;
}

.no-webp .footer__messengers_svg::before {
  background: url("../img/Vector (2).png"); }

.footer__messengers_svg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__item > h5 > span {
  font-weight: 700;
}

.footer__search {
  position: relative;
}

.search {
  border-radius: 30px;
  width: 342px;
  height: 60px;
  background: #FFFFFF;
}

.search > input {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
}

.search > input::-webkit-input-placeholder {
  color: #ABABAB;
}

.search > input::-moz-placeholder {
  color: #ABABAB;
}

.search > input:-ms-input-placeholder {
  color: #ABABAB;
}

.search > input::-ms-input-placeholder {
  color: #ABABAB;
}

.search > input::placeholder {
  color: #ABABAB;
}

.buton__search {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 109px;
  color: white;
}

.footer__bottom {
  margin-top: 50px;
}

.footer__bottom > hr {
  width: 100%;
  height: 1px;
  background-color: white;
}

.bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin-top: 15px;
}

.bottom__container_item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin: auto 20px;
}

.cotacts {
  margin-bottom: 150px;
}

.contacts__cotainer > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.contacts__cotainer > h5 > span {
  font-weight: 700;
}

.contacts__cotainer > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  max-width: 672px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.cotacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  gap: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__item {
  position: relative;
}

.no-webp .contact__item > ul::after {
  background: url("../img/Vector (1).png"); }

.contact__item > ul::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  position: absolute;
  top: -122px;
  right: -55px;
  z-index: 0;
}

.contact__item > ul > li {
  position: relative;
  color: black;
  z-index: 1;
}

.contact__item > ul > li > svg {
  fill: black;
}

.busket {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.busket__wrapper {
  position: relative;
  background-color: white;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
}

.busket__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 38px;
}

.busket__close:hover {
  color: red;
}

.busket__wrapper > h5 {
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 54px;
}

.busket__wrapper table th {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.busket__wrapper table > tbody > tr > td:nth-child(1) {
  max-width: 300px;
  padding-right: 8px;
}

.busket__wrapper table {
  margin-bottom: 30px;
}

.busket__wrapper table > tbody > tr {
  position: relative;
}

.busket__wrapper table > tbody > tr td {
  padding-top: 15px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #000000;
}

.busket__wrapper table > tbody > tr td:nth-child(3) {
  text-align: center;
}

.busket__wrapper table > tbody > tr::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: black;
}

.busket__none_img {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.busket__none_img > img {
  width: 100%;
}

.busket__none_img > p {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.busket__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  border: 1px solid #FF543D;
  border-radius: 10px;
  padding: 2px;
}

.busket__control > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.busket__control > div:first-child > span {
  position: relative;
  top: -3px;
  -webkit-transform: scaleX(180%);
      -ms-transform: scaleX(180%);
          transform: scaleX(180%);
}

.busket__control > div:not(:nth-child(2)) {
  cursor: pointer;
  font-weight: 700;
  width: 40px;
  background-color: #FF543D;
  border-radius: 10px;
  font-size: 30px;
}

.busket__control > div:not(:last-child) {
  margin-right: 2px;
}

.busket__btn {
  color: white;
  width: 200px;
}

.busket__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busket__footer > p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #000000;
  padding-right: 15px;
  margin-left: 10px;
}

.busket__footer > p > span {
  padding-left: 10px;
}

.o-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

.filter__icon {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.filter__icon > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF543D;
  width: 100%;
  height: 5px;
}

.filter__icon > span::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #FF543D;
  width: 80%;
  height: 5px;
}

.filter__icon > span::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  background-color: #FF543D;
  width: 80%;
  height: 5px;
}

.filter__body {
  position: relative;
  visibility: hidden;
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  z-index: -1;
}

.filter__body.d-none {
  display: none;
}

.filter__body._active {
  overflow: visible;
  visibility: visible;
  z-index: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.filter__price > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.filter__price > p > input {
  width: 90px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.filter__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__color > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
  margin-right: 10px;
}

.filter__color select {
  border: 1px solid black;
  border-radius: 5px;
}

.filter__color select,
.filter__color option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.filter__bestwine > label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.shoplist {
  margin-top: 50px;
  margin-bottom: 70px;
}

.shoplist__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.shoplist__img {
  width: 61px;
  height: auto;
}

.shoplist__item {
  position: static;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shoplist__item .shoplist__img::after {
  content: "";
  width: 200px;
  height: 200px;
  left: -71px;
}

.shoplist__item:nth-child(1) .shoplist__img::after {
  content: "";
  left: -71px;
}

.shoplist__name {
  font-size: 18px;
}

.bestwines__item {
  position: relative;
}

.best__label {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #FF543D;
  font-family: "Poppins";
}

h3.item__none {
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins";
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .search__container > svg:hover,
  .busket__container > svg:hover {
    fill: #FF543D;
  }

  .button__layout:hover {
    background: #ff6e5b;
  }

  .bestwines__btn_right:hover,
  .bestwines__btn_left:hover {
    background: #ff7866;
  }
}

@media (min-width: 768px) {
  .menu.menu__anim {
    top: -100px;
  }

  .menu a._active {
    color: #FF543D;
  }

  .menu.menu__fixed a._active {
    color: white;
  }

  .menu.menu__anim::after {
    content: "";
    top: -100px;
  }

  .menu.menu__fixed::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 1000%;
    height: 90px;
    background-color: #FF543D;
    z-index: 1;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu .search__svg._active {
    fill: #FF543D;
  }

  .menu.menu__fixed .search__svg._active {
    fill: white;
  }

  .menu .busket__svg._active {
    fill: #FF543D;
  }

  .menu.menu__fixed .busket__svg._active {
    fill: white;
  }

  .menu.menu__fixed {
    position: fixed;
    width: 1350px;
    top: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu.menu__fixed .search__container > svg:hover,
  .menu.menu__fixed .busket__container > svg:hover {
    fill: white;
  }

  .menu.menu__fixed .menu__item > a:hover {
    color: white;
  }

  .menu.menu__fixed + .header {
    margin-top: 130px;
  }

  .logo {
    z-index: 10;
  }

  .menu__container {
    z-index: 10;
  }

  .events__container {
    display: none;
  }

  .menu.menu__fixed + .filter {
    margin-top: 100px;
  }
}

@media (max-width: 1410px) {
  .wrapper {
    max-width: 991.98px;
  }

  .header__qualitywine > h3 {
    font-size: 48px;
    line-height: 60px;
  }

  .header__image {
    margin-right: 0px;
  }

  .about__container > h3 {
    font-size: 48px;
    line-height: 60px;
  }

  .about__content {
    width: 400px;
  }

  .about__content > h5 {
    font-size: 48px;
    line-height: 60px;
    width: auto;
  }

  .about__content > p {
    width: auto;
  }

  .bestwines__list {
    gap: 50px;
  }

  .events__description {
    top: 30%;
  }

  .footer__container {
    max-width: 991.98px;
  }

  .footer__body {
    gap: 10px;
  }

  .footer__item_one {
    max-width: 216px;
  }

  .footer__item_two > h5 {
    font-size: 20px;
  }

  .footer__item_two > ul > li {
    margin-bottom: 5px;
  }

  .footer__item_three > h5 {
    font-size: 20px;
  }

  .footer__item_four {
    max-width: 245px;
  }

  .footer__item_four > h5 {
    font-size: 20px;
  }

  .search {
    width: 242px;
    height: 40px;
  }

  .buton__search {
    top: 3px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
  }

  .contact__item > ul::after {
    right: -117px;
  }

  h3.item__none {
    font-size: 24px;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    max-width: 767.98px;
  }

  .menu__list > li {
    margin: 0px 0px 0px 30px;
  }

  .header {
    margin-top: 10px;
  }

  .header::after {
    width: 700px;
    height: 600px;
  }

  .header__qualitywine > h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .about {
    margin-top: 160px;
  }

  .about::after {
    width: 426px;
    height: 631px;
    bottom: 121px;
    left: -122px;
  }

  .about__container > h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .about__body_img {
    width: 345px;
    height: 650px;
  }

  .about__content > h5 {
    font-size: 40px;
    line-height: 50px;
  }

  .bestwines__container > h5 {
    font-size: 40px;
  }

  .bestwines__img {
    width: 70px;
    height: 280px;
  }

  .bestwines__img::after {
    width: 200px;
    height: 200px;
    left: -65px;
  }

  .bestwines__item:nth-child(1) .bestwines__img::after {
    left: -66px;
  }

  .bestwines__name {
    font-size: 18px;
  }

  .buy__price {
    font-size: 18px;
  }

  .events > h5 {
    font-size: 40px;
    line-height: 40px;
  }

  .read-more {
    width: 108px;
    height: 34px;
    line-height: 37px;
  }

  .footer__container {
    max-width: 767.98px;
  }

  .footer__item_one {
    max-width: 152px;
  }

  .footer__item_one > h5 {
    font-size: 28px;
  }

  .footer__item_one > p {
    letter-spacing: 0.01em;
  }

  .footer__item_two > ul > li {
    letter-spacing: 0.01em;
  }

  .footer__item_two > h5 {
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  .footer__item_two > ul > li {
    letter-spacing: 0.01em;
  }

  .footer__item_three {
    max-width: 171px;
  }

  .footer__item_three > h5 {
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  .footer__item_three > ul > li {
    letter-spacing: 0.01em;
  }

  .footer__item_four {
    max-width: 225px;
  }

  .footer__item_four > h5 {
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  .footer__item_four > p {
    letter-spacing: 0.01em;
  }

  .footer__messengers {
    width: 152px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 152px;
            flex: 0 1 152px;
  }

  .footer__messengers_svg:nth-child(3) > svg,
  .footer__messengers_svg:nth-child(4) > svg {
    left: -87px;
    top: 58px;
  }

  .footer__messengers_svg:nth-child(3) > svg {
    left: -90px;
  }

  .footer__messengers_svg:nth-child(3):before,
  .footer__messengers_svg:nth-child(4):before {
    top: 50px;
    left: -98px;
  }

  .footer__messengers_svg:nth-child(3):before {
    left: -100px;
  }

  .footer__bottom {
    margin-top: 90px;
  }

  .bottom__container_item {
    font-size: 14px;
  }

  .contacts__cotainer > h5 {
    font-size: 40px;
  }

  .cotacts__body {
    gap: 50px;
  }

  .cotacts__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contscts__maps > iframe {
    width: 400px;
    height: 350px;
  }

  .filter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    max-width: 100%;
  }

  .menu {
    margin: 0;
    position: fixed;
    width: 100%;
  }

  .icon-menu {
    background-color: inherit;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .icon-menu.menu__open span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.menu__open::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.menu__open::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .logo {
    z-index: 10;
  }

  .logo > a {
    color: #FFFFFF;
  }

  .search__container,
  .busket__container {
    z-index: 10;
  }

  .busket__container {
    color: white;
    margin-right: 50px;
  }

  .search__container > svg,
  .busket__container > svg {
    fill: #FFFFFF;
  }

  .menu__container {
    margin-right: 60px;
  }

  .menu__body.menu__open li a {
    color: white;
  }

  .menu__search {
    top: 10px;
    right: 220px;
  }

  .header {
    margin-top: 70px;
  }

  .about {
    margin-top: 100px;
  }

  .about::after {
    width: 515px;
    height: 763px;
    bottom: -86px;
    left: -7px;
  }

  .about__container > p {
    width: 479px;
  }

  .about__item {
    margin: 0 auto;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 70px;
  }

  .about__body_img {
    position: relative;
    top: 60px;
    display: none;
  }

  .bestwines__list {
    gap: 15px;
  }

  .bestwines__item {
    max-width: auto;
  }

  .bestwines__img {
    width: 50px;
    height: 250px;
  }

  .bestwines__img::after {
    width: 130px;
    height: 130px;
    left: -28px;
    top: 130px;
  }

  .bestwines__item:nth-child(1) .bestwines__img::after {
    left: -38px;
  }

  .bestwines__name {
    margin-top: 0;
  }

  .bestwines__name {
    z-index: 1;
  }

  .buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bestwines__btn_left {
    top: 38%;
  }

  .bestwines__btn_right {
    top: 38%;
  }

  .events {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 70px;
  }

  .slide-swiper__container {
    display: none;
  }

  .read-more {
    max-width: 100%;
  }

  .footer {
    background-position: center;
  }

  .footer__container {
    max-width: 100%;
    padding-top: 50px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__item_one {
    max-width: 70%;
  }

  .footer__item_two {
    display: none;
  }

  .footer__item_two {
    max-width: 70%;
  }

  .footer__item_three {
    width: 100%;
    max-width: 70%;
  }

  .footer__item_four {
    max-width: 70%;
  }

  .footer__messengers_svg:nth-child(3) > svg,
  .footer__messengers_svg:nth-child(4) > svg {
    left: 11px;
    top: 9px;
  }

  .footer__messengers_svg:nth-child(3) > svg {
    left: 11px;
  }

  .footer__messengers_svg:nth-child(3):before,
  .footer__messengers_svg:nth-child(4):before {
    top: 0;
    left: 0;
  }

  .footer__messengers_svg:nth-child(3):before {
    left: 0px;
  }

  .footer__bottom {
    margin-top: 40px;
  }

  .cotacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 150px;
  }

  .contact__item {
    margin: 0 auto;
  }

  .contact__item > ul::after {
    right: -93px;
  }

  .filter__container {
    margin-top: 70px;
    gap: 10px;
  }

  .filter__icon > span {
    height: 2px;
  }

  .filter__icon > span::before {
    height: 2px;
  }

  .filter__icon > span::after {
    height: 2px;
  }

  .filter__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .shoplist__img {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #FF543D;
    z-index: 2;
  }

  .menu__body.menu__open {
    left: 0;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0px;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    text-align: left;
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
}

@media (orientation: landscape) and (max-width: 767.98px) {
  body._touch .busket {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}

@media (max-width: 680.98px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 479px;
    margin: 0 auto;
  }
}

@media (max-width: 640.98px) {
  .header::after {
    background: none;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }

  .header__qualitywine {
    width: auto;
  }
}

@media (max-width: 599.98px) {
  .menu__search {
    top: 10px;
    right: 220px;
  }

  .bestwines__list {
    overflow: scroll;
    gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .bestwines__item {
    min-width: 200px;
    position: relative;
    left: -20px;
  }

  .bestwines__img {
    width: 70px;
    height: 280px;
  }

  .bestwines__img::after {
    width: 200px;
    height: 200px;
    left: -65px;
  }

  .bestwines__item:nth-child(1) .bestwines__img::after {
    left: -68px;
  }

  .bestwines__btn_left {
    display: none;
  }

  .bestwines__btn_right {
    display: none;
  }

  .events__description {
    top: 10%;
    left: 50px;
  }

  .shoplist__list {
    gap: 50px;
  }
}

@media (max-width: 547.98px) {
  .about__container > p {
    width: 100%;
  }

  .about__list {
    width: 100%;
  }

  .about__item {
    width: 100%;
  }

  .about__item > p {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .wrapper {
    max-width: 100%;
    padding: 0 5px;
  }

  .search__container,
  .busket__container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .busket__container {
    margin-right: 20px;
  }

  .menu__container {
    margin-right: 15px;
  }

  .menu__search {
    top: 65px;
    right: 25px;
  }

  .header__qualitywine > h3 {
    font-size: 38px;
    line-height: 40px;
  }

  .about__container > h3 {
    font-size: 38px;
    line-height: 40px;
  }

  .about__content {
    width: 100%;
  }

  .about__content > h5 {
    font-size: 38px;
    line-height: 40px;
  }

  .bestwines {
    position: relative;
    z-index: 1;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .bestwines__container > h5 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .events > h5 {
    font-size: 38px;
  }

  .footer__container {
    max-width: 100%;
    padding: 0 5px;
    padding-top: 50px;
  }

  .footer__item_one {
    max-width: 100%;
  }

  .footer__item_two {
    max-width: 100%;
  }

  .footer__item_three {
    max-width: 100%;
  }

  .footer__item_four {
    max-width: 100%;
  }

  .footer__messengers_svg:first-child {
    left: 10px;
  }

  .footer__messengers_svg {
    left: 20px;
  }

  .footer__search {
    left: 10px;
  }

  .contscts__maps {
    width: 90%;
  }

  .contscts__maps > iframe {
    width: 100%;
  }

  .contact__item > ul::after {
    right: -33px;
  }

  h3.item__none {
    font-size: 20px;
  }
}

@media (max-width: 359.98px) {
  .events__list {
    gap: 15px;
  }

  .events__img {
    width: 200px;
  }
}

@media (min-width: 768px) and (min-width: 992px) and (max-width: 1410px) {
  .menu.menu__fixed {
    width: 931.98px;
  }
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 991.98px) {
  .menu.menu__fixed {
    width: 707.98px;
  }
}

@media (max-width: 1410px) and (min-width: 992px) {
  .about__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.webp .header::after { background: url(../img/Subtract.webp); }

.webp .about::after { background: url("../img/Subtract (1).png"); }

.webp .bestwines__img::after { background: url("../img/Vector (1).png"); }

.webp .footer { background: url("../img/Group 1000005086.png"); }

.webp .footer__messengers_svg::before { background: url("../img/Vector (2).png"); }

.webp .contact__item > ul::after { background: url("../img/Vector (1).png"); }